section.news
  .container
    .news-header
      span.news__title Новости
      a(href="#").news-header__link Все новости
        svg.news-header__arrow
          use(xlink:href="img/sprites/sprite.svg#arrow")
      .slider-nav
        .slider-nav__prev.slider-nav__btn
          svg.slider-arrow.slider-arrow_prev
            use(xlink:href="img/sprites/sprite.svg#slider-arrow")
        .slider-counter
        .slider-nav__next.slider-nav__btn
          svg.slider-arrow
            use(xlink:href="img/sprites/sprite.svg#slider-arrow")
    .slider
      .slider-item
        span.slider-item__date 11.11.2019
        p.slider-item__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eget scelerisque imperdiet turpis donec ultrices sed tempor
      .slider-item
        span.slider-item__date 11.11.2019
        p.slider-item__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eget scelerisque imperdiet turpis donec ultrices sed tempor
      .slider-item
        span.slider-item__date 11.11.2019
        p.slider-item__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eget scelerisque imperdiet turpis donec ultrices sed tempor
      .slider-item
        span.slider-item__date 11.11.2019
        p.slider-item__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eget scelerisque imperdiet turpis donec ultrices sed tempor
      .slider-item
        span.slider-item__date 11.11.2019
        p.slider-item__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eget scelerisque imperdiet turpis donec ultrices sed tempor
      .slider-item
        span.slider-item__date 11.11.2019
        p.slider-item__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eget scelerisque imperdiet turpis donec ultrices sed tempor
      .slider-item
        span.slider-item__date 11.11.2019
        p.slider-item__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eget scelerisque imperdiet turpis donec ultrices sed tempor
