section.contact
  .container
    span.contact__title Контакты
    ul.contact-list
      li.contact-item
        a(href="tel:+375101110011").contact-item__link
          svg.contact-item__icon
            use(xlink:href="img/sprites/sprite.svg#phone")
          | + 375 (10) 1110011
      li.contact-item
        a(href="mailto:loremipsum@gmail.com").contact-item__link
          svg.contact-item__icon
            use(xlink:href="img/sprites/sprite.svg#mail")
          | loremipsum@gmail.com
