footer.footer
  .container.footer-container
    .footer-info
      span.copyright © Copyright 2019 www.loremipsum.com
      span.developer Разработан 
        a(href="#").developer__link Egorov Agency
    ul.partners
      li.partners__item
        a(href="#")
          img(src="img/apple.png" alt='partner')
      li.partners__item
        a(href="#")
          img(src="img/mi.png" alt='partner')
      li.partners__item
        a(href="#")
          img(src="img/samsung.png" alt='partner')
